h1 {
  color: navy;
  text-align: center;
  margin-top: 30px;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
}
.input-group {
  margin-top: 40px;
}
.row {
  margin-top: 50px;
  font-family: "Philosopher", sans-serif;
}
.fa-cloud {
  display: block;
  text-align: center;
  padding-top: 30px;
}

.card {
  margin-top: 50px;
  text-align: center;
}
body {
  background-image: url("../media/sky.jpg");
}
